<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "CINTESA", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Bienvenido",    root_path %></li>
          <li><%= link_to "Nosotros",    about_path %></li>
          <li><%= link_to "Servicios",    services_path %></li>
          <li><%= link_to "Minería",    minery_services_path %></li>
          <li><%= link_to "Contacto",    contact_path %></li>
          <!--<li>%= link_to "Sign in", '#' %></li>-->
        </ul>
      </nav>
    </div>
  </div>
</header>